.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /*display: flex;*/
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

.help-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.help-btn-container {
  right: 2%;
  position: absolute;
}

.open-help-btn {
  height: 30px;
  width: 30px;
  background: #ccc;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.help-container {
  width: 500px;
  height: 640px;
  border-radius: 12px;
  background-color: #121213;
  box-shadow: rgba(230, 230, 230, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: left;
}

ul {
  padding: 0.5em 0 0 15px;
}

li {
  list-style-type:none;
  padding-left:20px;
}

li:before {
  content:'';
  float:left;
  display:list-item;
  list-style-type: disc;
  list-style-position:inside;
  width:20px;
  margin-left:-20px;
}

.blue {
  color:#3B4CCA;
  font-weight: 800;
}

.yellow {
  color:#b49f39;
  font-weight: 800;
}

.gray {
  color: #3a393c;
  font-weight: 800;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  color: white;
  background-color: #121213;
  border-color: #121213;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.title {
  display: inline-block;
}

.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 2px;
  height: 100%;
  border: 1px solid grey;
  align-items: center;
}

.letter {
  flex: 5%;
  height: 50px;
  border: 1px solid grey;
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.correct {
  background-color: #3B4CCA;
}

.correct-word {
  border: 2px solid #3B4CCA;
}

.almost {
  background-color: #B3A125;
}

.almost-word {
  border: 2px solid #B3A125;
}

.error {
  background-color: #3a393c;
}

.error-word {
  border: 2px solid #3a393c;
}

.keyboard {
  width: 100%;
  height: 300px;
  margin-top: 60px;
  background-color: #121212;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 30px;
  height: 50px;
  margin: 2px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 50px;
  font-size: 10px
}

#wrong {
  background-color: #3a393c;
}

.flip {
  animation: 0.15s linear flipping;
}

@keyframes flipping {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      transform: rotateX(90deg);
  }
  100% {
      transform: rotateX(0deg);
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  color: white;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.gameOver {
  height: 300px;
  margin-top: 60px;
}

@media only screen and (max-width: 600px) {

  .game {
    height: calc(100vh - 40px);
    padding-top: 0%;
  }

  nav {
    height: 40px;
    place-items: center start;
  }

  nav h1 {
    font-size: 30px;
    padding: 0 10px;
  }

  .board {
    width: 350px;
    height: 350px;
    margin-top: auto;
  }

  .row {
    flex: auto;
  }

  .letter {
    height: 45px;
    font-size: 26px;
  }

  .keyboard {
    height: 200px;
    margin-top: auto;
  }

  .key {
    height: 52px;
    margin: 2px 3px;
  }

  #big {
    font-size: 12px;
  }

  .gameOver {
    height: 180px;
    margin-top: 50px;
  }
  
  .help-container {
    width: 100vw;
    height: 550px;
    padding: 10px;
    overflow: scroll;
  }
  
  li {
    padding-left: 10px;
  }

}

@media only screen and (max-width: 1280px) {

  /* .game {
    height: calc(100vh - 40px);
    padding-top: 0%;
  }

  nav {
    height: 40px;
    place-items: center start;
  }

  nav h1 {
    font-size: 30px;
    padding: 0 10px;
  }

  .board {
    width: 350px;
    height: 350px;
    margin-top: auto;
  }

  .row {
    flex: auto;
  }

  .letter {
    height: 45px;
    font-size: 26px;
  }

  .keyboard {
    height: 200px;
    margin-top: auto;
  }

  .key {
    height: 52px;
    margin: 2px 3px;
  }

  #big {
    font-size: 12px;
  }

  .gameOver {
    height: 180px;
    margin-top: 50px;
  }
  
  .help-container {
    width: 100vw;
    height: 550px;
    padding: 10px;
    overflow: scroll;
  }
  
  li {
    padding-left: 10px;
  } */

}